/*Nullstyle*/
* {
		padding: 0;
		margin: 0;
		border: 0;
}

*, *:before, *:after {
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
}

:focus, :active {
		outline: none;
}

a:focus, a:active {
		outline: none;
}

nav, footer, header, aside {
		display: block;
}

html, body {
		height: 100%;
		width: 100%;
		font-size: 100%;
		line-height: 1;
		font-size: 16px;
		-ms-text-size-adjust: 100%;
		-moz-text-size-adjust: 100%;
		-webkit-text-size-adjust: 100%;
}

input, button, textarea {
		font-family: inherit;
}

input::-ms-clear {
		display: none;
}

button {
		cursor: pointer;
}

button::-moz-focus-inner {
		padding: 0;
		border: 0;
}

a, a:visited {
		text-decoration: none;
}

a:hover {
		text-decoration: none;
}

ul li {
		list-style: none;
}

img {
		vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
		font-size: inherit;
		font-weight: inherit;
}

/*--------------------*/
.shop__img img, .work__block > img {
		display: block;
		width: 100%;
		height: auto;
}

.about__inner {
		width: 100%;
		margin: 0 auto;
		text-align: center;
}

.work__title, .about__title {
		font-size: 1.125em;
		font-weight: 700;
		text-transform: uppercase;
}

body {
		font-family: "Lato", sans-serif;
		font-size: 16px;
		line-height: 1.5;
		color: #38393b;
}

.container {
		width: 100%;
		max-width: 1630px;
		padding: 0 15px;
		margin: 0 auto;
}

/* Intro */
.intro {
		width: 100%;
		height: 100vh;
		background: url(../images/bg.jpg) top center no-repeat;
		background-size: cover;
}

/* Header */
.header {
		width: 100%;
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		z-index: 1000;
		padding-top: 2.1875rem;
}

.header.fixed-top {
		padding-bottom: 2.1875rem;
		background: linear-gradient(#eaeaf1, #d9d6df);
		position: fixed;
}

.header__inner {
		display: flex;
		justify-content: space-between;
		align-items: center;
}

.header__logo {
		display: none;
		cursor: pointer;
}

.header__logo.active {
		display: block;
}

/* Nav */
.nav {
		text-transform: uppercase;
		margin: 0 auto;
}

.nav__link {
		display: inline;
		margin: 0 3rem;
}
.nav__link .before:before {
		content: "";
		display: inline-block;
		position: relative;
		width: 2px;
		height: 2px;
		background: #38393b;
		vertical-align: middle;
		left: -40px;
}
@media screen and (max-width: 960px) {
		.nav__link--logo {
				display: none;
		}
}
.nav__link a {
		font-size: 0.8125em;
		font-weight: 700;
		color: #38393b;
}
.nav__link img {
		display: inline-block;
		vertical-align: middle;
}

/* about */
.about {
		padding: 8.75rem 0 10rem;
}

.about__inner {
		max-width: 1080px;
}

.about__title {
		margin: 35px 0;
}

.about__text {
		color: #848688;
}

/* Work */
.work {
		display: grid;
}

.work__inner {
		display: inherit;
		text-align: center;
}
.work__inner--1 {
		grid-template-columns: 2fr 1fr;
}
@media (max-width: 1024px) {
		.work__inner--1 {
				grid-template-columns: 1fr;
		}
}
.work__inner--2 {
		grid-template-columns: 1fr 2fr;
}
@media (max-width: 1024px) {
		.work__inner--2 {
				grid-template-columns: 1fr;
		}
}
.work__inner--3 {
		grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
}
@media screen and (max-width: 960px) {
		.work__inner--3 {
				grid-template-areas: "wb5 wb6" "wb7 wb6";
		}
}
@media screen and (max-width: 640px) {
		.work__inner--3 {
				grid-template-areas: "wb5" "wb6" "wb7";
		}
}

.work__block {
		position: relative;
		min-height: 360px;
}
.work__block--1 {
		background: url(../images/details/1.jpg) top center no-repeat;
		background-size: cover;
}
.work__block--4 {
		background: url(../images/details/4.jpg) top center no-repeat;
		background-size: cover;
}
.work__block--5 {
		background: url(../images/details/5.jpg) top center no-repeat;
		background-size: cover;
}
@media screen and (max-width: 960px) {
		.work__block--5 {
				grid-area: wb5;
		}
}
@media screen and (max-width: 960px) {
		.work__block--6 {
				grid-area: wb6;
		}
}
@media screen and (max-width: 960px) {
		.work__block--6 > img {
				position: absolute;
				bottom: 0;
		}
}
@media screen and (max-width: 640px) {
		.work__block--6 > img {
				position: sticky;
		}
}
.work__block--7 {
		background: url(../images/details/7.jpg) top center no-repeat;
		background-size: cover;
}
@media screen and (max-width: 960px) {
		.work__block--7 {
				grid-area: wb7;
		}
}
.work__block > img {
		object-fit: cover;
}

.work__content {
		position: relative;
		padding: 4.375rem 4.375rem 0;
}

.work__content:after {
		content: "";
		display: block;
		width: 20px;
		height: 20px;
		margin: 0 auto;
		position: absolute;
		bottom: -45px;
		left: 0;
		right: 0;
		background: #fff;
		transform: rotate(45deg);
}

.work__title {
		margin: 25px 0;
}

.work__text {
		color: #848688;
}

.work__text:after {
		content: "";
		display: block;
		width: 50px;
		height: 1px;
		margin: 2.1875rem auto;
		background: #d7d8d8;
}

.work__logo {
		position: relative;
		height: 100%;
}
.work__logo > img {
		position: absolute;
		margin: auto;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
}

/* Slider */
.slider {
		padding: 125px 0;
}

/* Shop */
.shop {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
		grid-template-areas: "si1 si2 si4 si5 si6 si6" "si3 si3 si4 si5 si7 si8";
}
@media screen and (max-width: 1919px) {
		.shop {
				grid-template-areas: "si1 si2 si4 si5" "si3 si3 si4 si5" "si6 si6 si7 si8";
		}
}
@media screen and (max-width: 1280px) {
		.shop {
				grid-template-areas: "si1 si2 si4" "si3 si3 si4" "si5 si6 si6" "si5 si7 si8";
		}
}
@media screen and (max-width: 960px) {
		.shop {
				grid-template-areas: "si1 si2" "si3 si3" "si4 si5" "si4 si5" "si6 si6" "si7 si8";
		}
}
@media (max-width: 640px) {
		.shop {
				grid-template-areas: "si1" "si2" "si3" "si4" "si5" "si6" "si7" "si8";
		}
}

.shop__item--1 {
		grid-area: si1;
}
.shop__item--2 {
		grid-area: si2;
}
.shop__item--3 {
		grid-area: si3;
}
.shop__item--4 {
		grid-area: si4;
}
.shop__item--5 {
		grid-area: si5;
}
.shop__item--6 {
		grid-area: si6;
}
.shop__item--7 {
		grid-area: si7;
}
.shop__item--8 {
		grid-area: si8;
}

.shop__item:hover .shop__img img {
		opacity: 0.2;
}

.shop__item:hover .shop__content {
		opacity: 1;
}

.shop__inner {
		position: relative;
}

.shop__img {
		background: #74a58a;
}
.shop__img img {
		transition: opacity 0.2s linear;
}

.shop__content {
		width: 100%;
		font-size: 0.8125em;
		font-weight: 700;
		color: #fff;
		position: absolute;
		text-align: center;
		text-transform: uppercase;
		top: 40%;
		left: 0;
		right: 0;
		opacity: 0;
		transition: opacity 0.2s linear;
}
.shop__content a {
		cursor: pointer;
}

.shop__icon {
		margin-bottom: 15px;
}

/* Buy */
.buy {
		background: #2e3338;
		text-align: center;
}

.buy__btn {
		display: inline-block;
		vertical-align: top;
		font-size: 0.8125em;
		font-weight: 700;
		color: #fff;
		margin: 95px auto;
		padding: 20px 45px;
		cursor: pointer;
		text-transform: uppercase;
		text-decoration: none;
		border: 2px solid #97999c;
}

/* Contact*/
.contact {
		font-size: 1.5rem;
		padding: 110px 0;
		text-align: center;
}
.contact__title {
		color: #848688;
		margin: 40px auto;
}
.contact__form {
		padding: 0 15px;
}
.contact__email {
		font-size: 1.25rem;
		font-style: italic;
		padding: 27px;
		border: 1px solid #d3d6d8;
}
@media screen and (max-width: 410px) {
		.contact__email {
				margin-bottom: 15px;
		}
}
.contact__submit {
		font-size: inherit;
		font-weight: 300;
		color: #fff;
		padding: 24.5px 45px;
		background: #86c19e;
		vertical-align: bottom;
		text-transform: uppercase;
}

.copyright {
		font-size: 0.8125em;
		font-style: italic;
		padding: 100px 0;
		background: #f7f7f7;
		color: #848688;
}
.copyright__street {
		font-size: 1em;
		font-weight: 700;
}
.copyright__creater img {
		margin-left: 15px;
		vertical-align: middle;
}

.copyright__inner {
		display: flex;
		justify-content: space-around;
		align-items: center;
		flex-wrap: wrap;
}

/* Social */
@media screen and (max-width: 560px) {
		.social {
				width: 100%;
				text-align: center;
				margin: 25px;
		}
}